{% extends 'base.html.twig' %}
{% block title %}Nouveau Client
{% endblock %}

{% block body %}
	<main class="container">
		<h1>Créer un nouveau client</h1>
		{% include "client/_form.html.twig" %}
		<a href="{{ path('client_index') }}">Retour</a>
	</main>
{% endblock %}
